<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877745566185-vsgm2gd9kt31etn08et9i6vvv9nlqke5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877745566185-vsgm2gd9kt31etn08et9i6vvv9nlqke5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>877745566185-j393p41tfpci1mna9c0b5vig19ec8i72.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw4jK8v2yXncEustVpFo_x8jJ8eZfp8Q8</string>
	<key>GCM_SENDER_ID</key>
	<string>877745566185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cybercube.chefyyyoriginal</string>
	<key>PROJECT_ID</key>
	<string>cheffyrecipesuggestion</string>
	<key>STORAGE_BUCKET</key>
	<string>cheffyrecipesuggestion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877745566185:ios:d8d57dcbed79182a6c5b78</string>
	<key>DATABASE_URL</key>
	<string>https://cheffyrecipesuggestion-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>